@keyframes slideright {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0%;
    }
}

#desert {
    position: absolute;
    background-image: url("t-rex-background.png");
    height: 200px;
    width: 100%;
    animation: slideright 600s infinite linear;
    bottom: 0;
}

.dino {
    background-image: url("t-rex.png");
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: 0;
}

.obstacle {
    background-image: url('cacti.png');
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
}

body {
    background-color: rgb(250, 250, 250);
}
